<section id="team" class="row">

  <div class="col-12 text-center mb-3">
    <h1 class="mb-2">الفريق</h1>
    <p class="text-muted">
      تم إنشاء و تصميم تطبيق {{ site.title }} بواسطة فريق
      <a href="{{ site.data.team.link }}" class="text-decoration-none">{{ site.data.team.name }}</a>
    </p>
  </div>

  {% for member in site.data.team.members %}
  <div class="col-lg-1 col-md-2 text-center m-2">
    <a href="{{ member.link }}">
      <img src="{{ member.image }}" class="figure-img img-fluid rounded-circle" alt="{{ member.name }}">
    </a>
    <h4>{{ member.name }}</h4>
  </div>
  {% endfor %}

</section>