html {
  direction: rtl;
}

body {
  font-family: "Almarai", sans-serif;
  font-size: 19px;
}

#intro {
  min-height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.32);
  background-blend-mode: multiply;
  background-image: url(/assets/images/buses.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.green {
    background: #32ba7c;
    color: white;
  }
}

.newspaper-logo {
  filter: brightness(0) invert(1);
  transition: all 0.45s ease-in-out;

  &:hover {
    filter: none;
    transform: scale(1.06);
  }
}
