html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;

  &-thumb {
    background: #63f0b1;
  }

  &-track {
    background: green;
  }
}

#intro {
  min-height: 100vh;
  color: white;
  background-image: url(/assets/buses.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.green {
    background: #32ba7c;
    color: white;
  }
}