html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  font-family: "Almarai", sans-serif;
  background: #32ba7c;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;

  &-thumb {
    background: #63f0b1;
  }
}